# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.svn
*~
*.lock
*.DS_Store
*.swp
*.out
*.tmp
*.bak
*.old
tmp/cache
tmp/sessions
tmp/uploads
logs
/nbproject
app/lib/autoload.php
app/lib/bcosca
app/lib/composer