# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.svn
*~
*.lock
*.DS_Store
*.swp
*.out
*.tmp
*.bak
*.old
*.log
tmp/cache
tmp/sessions
tmp/uploads
logs
/nbproject
app/lib/autoload.php
app/lib/bcosca
app/lib/composer
app/application.log
app/lib/bin/
app/lib/fzaninotto/
app/lib/league/
app/lib/phpmailer/
app/lib/robmorgan/
app/lib/seld/
app/lib/symfony/
app/lib/wixel/
app/lib/FFMVC/
