# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
*.DS_Store
*.bak
*.lock
*.old
*.orig
*.out
*.swp
*.tmp
*~
.DS_Store
.svn
.vsphpignore
/*.cache
/*.puo
/nbproject
logs/*
tmp/*
nbproject
