[submodule "lib/bcosca/fatfree-core"]
    path = lib/bcosca/fatfree-core
    url = https://github.com/bcosca/fatfree-core.git
[submodule "lib/FFMVC"]
    path = lib/FFMVC
    url = https://github.com/vijinho/FFMVC.git
