[globals]
DEBUG=3
TZ=Europe/Madrid
LANGUAGE=es-ES

[application]
logfile=app.log
environment=development
salt=MY_SALT

;http://php.net/manual/en/function.hash-hmac.php
hash=sha256
salt=YOUR_SALT

[db]
http_dsn=mysql://root:root@127.0.0.1:3306/mysql

[email]
host=smtp.example.org
from=www@example.org

[analytics]
enabled=false
code=UA-EXAMPLE-CODE
domain=example.org

