[globals]
DEBUG=3
TZ=Europe/London
LANGUAGE=en-GB

db.driver=sqlite
db.dsn=sqlite:/data/database.sqlite
;db.sqlite.attached.otherdb=/full/path/to/db.sqlite
;db.dsn=mysql:host=localhost;port=3306;dbname=www_db
;db.username=www
;db.password=www_password

; email/smtp settings
email.host=smtp.example.org
email.from=www@example.org

analytics.enabled = true
analytics.code=UA-EXAMPLE-CODE
analytics.domain=example.org

application.logfile=application.log
application.environment=development
