[globals]
DEBUG=4
TZ=Europe/London
LANGUAGE=en-GB

[app]
environment=dev
hash=sha256
salt=MY_SALT
audit_log=true
csrf_enabled=false
ttl=5;
ttl_doc=5
ttl_err=5
ttl_minify=30

[db]
http_dsn=mysql://root:root@127.0.0.1:3306/development_db

[email]
sendmail=true
timeout=15
host=127.0.0.1
port=1025
;user=
;pass=
from=www@example.org
from_name="Website Support"
;bcc=you@example.com

[analytics]
enabled=false
code=UA-EXAMPLE-CODE
domain=example.org

