/*
* Used by the Messages Helper
*/

/* Content Elements: Messages */
#messages{
padding: 0;
margin: 0;
font-size: 14px;
font-weight: bold;
margin-top: 4px;
clear: all;
white-space: nowrap;
}

.message_message {
    padding: 4px;
width: 100%;
color: #ffffff;
background-color: #aaa9a6;
float: left;
margin-bottom: 3px;
}

.message_warning {
    padding: 4px;
width: 100%;
color: #ffffff;
background-color: #ff9900;
float: left;
margin-bottom: 3px;
}

.message_success {
    padding: 4px;
width: 100%;
color: #ffffff;
background-color: #009000;
float: left;
margin-bottom: 3px;
}

.message_error {
    padding: 4px;
width: 100%;
color: #ffffff;
background-color: #900000;
float: left;
margin-bottom: 3px;
}
