/* @import "//fonts.googleapis.com/css?family=Raleway"; */
body {
    margin-top: 50px;
    font-size: 1.9rem;
    line-height: 2.5rem;
    color: #404040;
    font-family: 'Raleway', sans-serif;
}
.phpinfo {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1em;
    height: 400px;
    width: 100%;
    overflow: auto;
}
.horizontal_links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}
.pin {
    padding: 3rem;
    overflow: auto;
    font-size: 6rem;
    background-color: black;
    color: white;
}
.container {
    max-width: 800px
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
    margin-bottom: 0.25em;
    margin-top: 0.5em;
    font-weight: 400;
    line-height: 1em;
    color: #000;
}
h1 {
    font-weight: 600;
    font-size: 3em;
    color: #444;
}
a {
    text-decoration: none
}
footer {
    font-size: .9em;
    margin: 60px 0 30px;
    color: #aaa
}
footer a {
    color: #aaa
}
footer hr {
    margin-bottom: 30px
}
.print {
    display: none
}
.screen {
    display: inline
}
blockquote {
    color: #555;
    font-weight: 500;
    font-size: 2rem;
    margin-top: 25px;
    margin-bottom: 25px
}
.full-image {
    margin-left: -80px;
    width: 1024px
}
@media (max-width: 800px) {
    .full-image {
        margin-left: 0;
        width: 100%
    }
}
.scrollbox-all-blogposts {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.2em;
    height: 400px;
    width: 100%;
    overflow: auto
}
img {
    min-width: 100%;
    max-width: 100%;
    height: auto
}
tt,
code,
pre {
    font-family: Monaco, Terminus, Lucida Console;
    padding: 0.3rem;
    background-color: #876;
    color: #eee;
    font-size: 1.4rem;
    line-height: 1.25;
    font-weight: 600;
}
pre {
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 400;
    color: #eee;
    background-color: #333;
}
tt,
code {
    -ms-word-break: break-all;
    /* Be VERY careful with this, breaks normal words wh_erever */

    word-break: break-all;
    /* Non standard for webkit */

    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
ol,
ul {
    color: #444;
    margin-top: 0.5rem;
    margin-left: 2rem;
    line-height: 0;
}
li {
    margin: 0;
    line-height: 1.5em;
    padding: .2em;
}
